/* header */
.background-image{
    background-image:url(../images/palms.png);
    height: 324px;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
     
    
       
}
.background-image::after{
    content: ' ' ;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 60%;
    display: block;
    
} 
.h1-class{
     color:var(--white-color) ;

}
.h1-class:hover{
   color: var(--main-color);
}
.burger-div{
    display: none ;  
}



/* roots */
:root{
    --main-wight: 1088px;
    --main-color:#5863F8;
    --white-color:#fff;
    --input-background:#E8E8E8;
    --input-text-color:#CECECE;
}
.title-width{
    max-width: var(--main-wight); 
    width: 100%;         
    left: 50%;
    top: 12%;   
    transform:translateX(-50%);  
    position: absolute;
    z-index: 100;
         
}
.title-conteiner{
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
    font-size: 14px;
    align-items: baseline;
}
.nav-a-class{
    color: var(--white-color);
    margin-left: 49px;
}
.nav-a-class:hover{
     color:rgb(51, 0, 255)  ;
}
.ul-block{
    display: flex;
    font-size: 12px;
}
.nav-block{
    display: flex;
    justify-content: baseline;
   
}
.header-icon{
    margin-left:5px ;
    margin-bottom: 6px ;
}
/* li:nth-child(1){
    color: var(--main-color) ;
} */
.active{
    color: var(--main-color) ;
}
.main-title{
    color:var(--white-color) ;
    font-size: 42px;
    margin-top: 92px;
}
.contact{
    display: flex;
    color:var(--white-color) ;
    margin-top: 18px;
}
.borderr{
    display: flex;
}
.contact-hover{
    color:var(--white-color) ;
}
.contact-hover:hover{
   color:var(--main-color) ;
}
.borderr::after{
    content: ' ' ;
    width: 2px;
    height: 20px;
    background-color:var(--white-color) ;
    display: inline-block; 
    margin-left: 27px;
    margin-right: 22px;
}
/* first-section */
.first-section-width{
    max-width: var(--main-wight); 
    width: 100%; 
    margin: 0 auto;
    margin-top: 50px;        
}
.iframe-class{
    width:100%;
    height: 286px;
    border-radius: 22px;
    transition: all 1s 9ms;
}
.iframe-class:hover{
    height: 500px ;
}
/* second-seeection */
.second-section-width{
    max-width: var(--main-wight); 
    width: 100%;
    margin: 0 auto;
    margin-top: 54px;
}
.second-conteiner{
    display: flex; 
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
}
.left-block{
    margin-bottom: 40px;
    

}
.left-block2{
    display: none;
}
.text-area{
   height:288px; 
   /* max-width: 720px;  */
   width:720px;
   resize: none;
   
}
.text-area[name=comment]{
    background-color: var(--input-background) ;
    border-color: var(--input-text-color);
}
.text-area:focus{
    outline: none;
}
.text-area::placeholder{
    color:var(--input-text-color) ;
    padding: 7px 0 0 9px;

}
.right-block{
    display: flex;
    flex-direction: column;
    margin-left: 19px ;
    /* flex-wrap: wrap; */
    
}
.text-input{
    max-width: 352px; 
    width: 100%;
    height: 60px;
    margin-bottom: 16px;
}
.text-input,.email-input:focus{
    outline: none;
}
.text-input[type=text],.email-input[name=email]{
    background-color: var(--input-background) ;
    border-color: var(--input-text-color);
    border-style: solid;
}
.text-input::placeholder{
    color:var(--input-text-color);
    padding: 7px 0 0 9px;

}

.email-input{
    max-width: 352px; 
    width: 100%;
    height: 60px;
    margin-bottom: 16px;
    
}
.email-input::placeholder{
    color:var(--input-text-color);
    padding: 7px 0 0 9px;
}
.submit-class{
    max-width: 352px; 
    width: 100%;
    height: 60px;
    margin-bottom: 16px;
    background-color:var(--main-color) ;
    border-style: none;
    color:  var(--white-color) ;   
}
.submit-class:hover{
    opacity: 89% ;
}
.info-box{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width:59px;
    height:58px;
    background-color:var( --main-color);
    border-radius: 100%;
    margin-bottom: 14px;
    margin-left:19px ;
}
.info-box-conteiner{
    display: flex;
    justify-content:space-around;
   
}
.info-box:nth-child(1){
    margin-left:25px ; 

}
.info-box:nth-child(3){
    margin-right:25px ; 

}
.fa-envelope,.fa-phone,.fa-location-dot{
    color: var( --white-color) ;
}
.info-class{
    display: flex;
    justify-content: space-around;  
}
.info-section{
    text-align: center;
    margin-bottom: 85px; 
}
.child-eleement1{
    color: black;
    font-size: 18px;
    
}
.child-eleement2{
    /* margin-bottom: 5px; */
    color: var( --input-text-color) ;
    font-size: 14px;
     

}
.a-h3margin{
     margin-bottom: 11px;
}
.a-h3margin2{
    margin-bottom: 5px;
}
.fa-paper-plane{
    margin-left: 14.4px;
}
/* third-section */
.third-section-width,.fourth-block-width{
    max-width: var(--main-wight);
    width: 100%;
    margin: 0 auto;
}  
.third-title-color:nth-child(1){
    color: var( --main-color);
    font-size: 14px;
    font-weight: bold;
}
.third-title-color:nth-child(2){
    font-size: 42px;
}
.third-title-color:nth-child(3){
    font-size: 42px;
    margin-bottom: 52px; 
}
/* 3-imagess */
.third-block-images{
   display: flex;
   justify-content:space-between;
   flex-wrap: wrap;
   
}
.position-images-div{
    display: none;
}
.image-width-third:hover{
    opacity: 0.8;
}
.image-width-third{
    border-radius: 18px;
}
/* footer */
.background-black{
    background-color: #121212;
    height: 395px;
    border-radius: 9px 9px 0 0;
}
.fourth-left-block{
    display: flex;
    flex-direction: column;
    max-width: 260px;
    width: 100%;
    height: 192px;
}
.fourth-block-width{
    padding-top: 89px;
}
.fourth-block:nth-child(1){
    font-size: 24px;
    font-weight: bold;
    color: var(--white-color);
}
.fourth-block:nth-child(2){
    margin-top: 22px;
    font-size: 14px;
    color: var(--white-color);
    opacity: 0.5;
    margin-bottom: 20px;

}
.fa-facebook{
    font-size: 34px;
    color:#3B5998;
    padding-right: 5px;
}
.fa-square-twitter{
    font-size: 34px;
    color: #55ACEE;
    padding-right: 5px;
}
.fa-google-plus{
    font-size: 34px;
    color: #DC4E41;     
}
.footer-conteiner{
    display: flex;
    justify-content: space-between;
}
.left-mid-block{
    display: flex;
    width: 90px;
    height: 154px;

}
.a-li-class{
    font-size: 18px;
    color: var(--white-color);
    
}
.a-li-class2{
    color: var(--main-color);
    font-size: 14px;  
}
.a-li-class3{
    color: var(--white-color);
    font-size: 14px;
      
}
.footer-ul-class{
    display: flex;
    flex-direction: column;
    padding-top: 19px;
}
.li-cals-footer:nth-child(1){
    margin-bottom: 18px;
}
.li-cals-footer:nth-child(2){
    margin-bottom: 11px;
}
.li-cals-footer:nth-child(3){
    margin-bottom: 11px;
}
.li-cals-footer:nth-child(4){
    margin-bottom: 11px;
}
.right-block-footer{
    display: flex;
    width: 170px;
    height: 154px;
}
#footer-icon-color1,#footer-icon-color2,#footer-icon-color3{
    color: var(--main-color);
    padding-right: 4px;
}
/* copyrights */
.copyright-conteiner{
    margin-top: 54px;
    display: flex;
    align-items:baseline;
    justify-content: baseline;
    justify-content: space-between;
}
.footer-copyrights{
    color: var(--white-color);
    opacity: 0.5;
    font-size: 14px;
     
}
.copyrights1{
    display: flex;
    align-items:baseline;
    justify-content: baseline;
    justify-content: space-between;
}
.footer-copyrights2::before{
    content: ' ' ;
    width: 1.75px;
    height: 15px;
    background: var(--white-color);
    opacity: 0.5;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    

}
.footer-copyrights2{
    color: var(--white-color);
    opacity: 0.5;
    font-size: 14px;
    
   
}
.span-copyright{
    color: var(--main-color);
    opacity: 1;
    font-size: 14px;
    padding-left: 3px;
}
.last-footer-conteiner{
    display: flex;
}
.link-footer{
    /* display: flex; */
    font-size: 14px;
    color: var(--main-color);
}



